@{
    ViewBag.Title = "Home Page";
}

<main class="main">
    <div class="heading">
        <h1>Big Bee</h1>
        <p id="logo">We work like bees</p>
        <img src="~/Static/images/bee.svg" alt="bee">
    </div>
    <div class="list container">
        <div class="all-col">
            <div class="col"><a href="/House"><img src="~/Static/images/house.svg" alt="building"></a></div>
            <div class="col"><a href="/Employee"><img src="~/Static/images/staff.svg" alt="staff"></a></div>
            <div class="col"><a href="/Car"><img src="~/Static/images/lorry.svg" alt="lorry"></a></div>
        </div>
    </div>

</main>	